
.fourth-section {
  background: #EADED4; 
}



.fourth-section__header {
    margin-bottom: 70px;
}

.fourth-section__title {
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 800;
    line-height: 87.77px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
text-transform: uppercase;
}

.fourth-section__form {
    height: 662px;
    width: 759px;
    background: #FFFFFF;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 77px;
    padding-bottom: 78px;
    gap: 69px;
}
.fourth-section__input {
    background: #EADED4; 
    height: 98px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
padding-left: 31px;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.fourth-section__input-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px;
    
}

.fourth-section__button {
    height: 68px;
    background: #EADED4;
    width: 266px;
}
.fourth-section__button-list {
    display: flex;
    justify-content: space-between;
}

.fourth-section__button-text {
    font-family: Montserrat, sans-serif;
font-size: 36px;
font-weight: 500;
line-height: 43.88px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.fourth-section__button:hover {
    background: var(--color-background);
    color: white;
}