
.wall {
  width: 500px;
  height: 300px;
  background-color: black;
  position: absolute;
  left: 15%;
}

.wall__head {
  width: 50px;
  background-color: beige;
  height: 50px;
  position: relative;
  bottom: 50px;
  right:100%
}

.wall__right-eye {
  position: absolute;
  right: 10px;
  top:5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}

.wall__left-eye {
  position: relative;
  left: 10px;
  top:5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}

.wall__mouth {
  position: relative;
  top:15px;
  left:20px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}

.wall__body {
  width: 15px;
  background-color: beige;
  height: 50px;
  position: absolute;
  bottom: 0px;
  right:100px;
}

.wall__moon {
  position: absolute;
  left: 30px;
  top: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
}