header {
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    background: #07203F;
    width: 1440px;
    
    margin-left: auto;
    margin-right: auto;
    

    

}

.headerContent{
    color: white;
    padding-left: 135px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 135px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    
}

.HeaderBlock {
    display: flex;
    align-items: center;

}

#nicknameHeaderBlock {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;

}

#linksHeaderBlock {
   
    gap: 40px;
    flex-wrap: nowrap;
    white-space: nowrap;

    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    text-decoration: underline;

}

.headerBlock__link {
    color: white;
}


